body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background-color: #EEE;
  color: #222;
}

h1 {
  font-size: 6em;
  color: #6A45E8;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-weight: 500;
}

.hlpink{
  background-color: pink;
}

.logo {
  width: 150px;
}

.header {
  background-color: #EEE;
  color: #222;
  margin: 30px 0;
}

.footer {
    padding-top: 200px;
    text-align: center;
}

.landing-punchline {
  margin: 50px 0 0 15px;
}

.cta-buttons {
  margin: 30px 0 0 0;
}

.fine-text{
  color: #888;
  font-size: 1em;
  font-weight: 500;
}

.grey-text {
  color: #999;
}

.bottom-align-text {
  position: absolute;
  bottom: 0;
}

/* button styles */

.btn {
  color: #222;
  border-width: 5px;
  border-style: solid;
}

.btn-about {
  border-width: 5px;
  border-style: solid;
}

.btn-signin {
  border-color: #6A45E8;
  border-width: 5px;
  border-style: solid;
}

.btn-browse {
  background-color: #AAA;
  color: #EEE;
  border-width: 5px;
  border-style: solid;
}

.btn-small {
  background-color: #6A45E8;
  color: #EEE;
  border-width: 3px;
  border-style: solid;
}

.btn-medium {
  border-width: 0px;
  background-color: #6A45E8;
  color: #EEE;
  font-size: 1em;
}

.btn-large {
  border-width: 0px;
  background-color: #6A45E8;
  color: #EEE;
  font-size: 2em;
}

.btn-box {
  width:  150px;
  height: 150px;
  margin-bottom: 10px;
}

.btn-box-text{
  font-size: 1.5em;
  /*position: absolute;
  top: 50%;
  margin-top: -0.5em;*/
  line-height: 140px;
  text-align: center;
  margin
}

.padding-top{
  padding-top: 15px;
}

.padding-bottom{
  padding-bottom: 15px;
}

.margin-top{
  margin-top: 40px;
}

.margin-bottom{
  margin-bottom: 40px;
}

.margin-bottom-sm{
  margin-bottom: 20px;
}

.margin-horizontal{
  margin-left:  20px;
  margin-right: 20px;
}

.form-control{
}

.form-control-large{
  color: #6A45E8;
  height: 2em;
  font-size: 3em;
  text-align: center;
}

.form-control-medium{
  height: 1.5em;
  font-size: 1.5em;
  margin-top: 15px;
}

.element-letter{
  color: #6A45E8;
  font-size: 3em;
  text-align: center;
  padding: 0;
  margin: 0;
}

#sessionDebug {
  margin: 0 0 10px 0;
}
