{% extends "default.html" %}

{% block content %}

	<div class="row banner main">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h2>
				<a href="{{url_for('MFW_browse')}}">M□Ws</a>
				 >
				<a href="{{url_for('category_browse')}}">C4tegories</a>
				 >
				{{category.name}}
			</h2>
			<h3>
				{{category.description}}
			</h3>
			{% include "flash.html" %}
		</div>
		<div class='col-xs-1'></div>
	</div>

	<div class="row padding-top padding-bottom">

		<div class="col-xs-1"></div>

		<div class="col-xs-9 col-sm-7 col-md-6">
			<div class='row'>
				{% for MFW in MFWs %}
				<a href = "{{url_for('MFW_view', MFW_id = MFW.id)}}">
					<div class="btn btn-browse btn-box margin-bottom margin-horizontal">
						<div class='btn-box-text'>
						{{MFW.name}}
						</div>
					</div>
				</a>
				{% endfor %}
				<a href="{{url_for('MFW_create', category_name=category.name)}}">
					<div class="btn btn-small btn-box margin-bottom margin-horizontal">
						<div class='btn-box-text'>
							<i class="fa fa-plus"></i> create
						</div>
					</div>
				</a>
			</div>

			<div class='row margin-top'>
				<div class="col-xs-4">
					<a href="{{ url_for('category_edit',category_id=category.id) }}">
						<div class="btn btn-block btn-warning">
							Edit
						</div>
					</a>
				</div>
				<div class="col-xs-4">
	        <a href={{ url_for('category_delete',category_id=category.id) }}>
						<div class="btn btn-block btn-danger">
							Delete
						</div>
					</a>
				</div>
				<div class="col-xs-4"></div>
			</div>

		</div>

		<div class="col-xs-1"></div>

	</div>

{% endblock %}
