<div class='container-fluid'>
	<div class="header row">

		<div class="col-md-2 col-sm-2 col-xs-3">
			<a href="{{url_for('mfw_browse')}}">
				<img class='btn logo img-responsive' src={{url_for('static', filename='images/mfw_logo.png')}}>
			</a>
		</div>

		<div class="col-md-8 col-sm-6 col-xs-2"></div>

		<div class="col-md-1 col-sm-2 col-xs-3 btn btn-about text-center">
			<a class='grey-text' href={{url_for('landing')}}>about</a>
		</div>

		<div class="col-md-1 col-sm-2 col-xs-3 btn btn-signin text-center">
			<a href="{{url_for('login')}}">sign in</a>
		</div>

	</div>
</div>
