{% extends "default.html" %}

{% block title%}WLCM 2{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-8">
			<div class='landing-punchline'>
					<h1>
						Strategic. Powerful. Beautiful.
					</h1>
					<h2>
						Make, Share, and Present the best of your Mental Frameworks
					</h2>
			</div>

			<div class="row cta-buttons">
				<div class="col-xs-6">
					<a href={{url_for('MFW_browse')}}>
						<div class="btn btn-block btn-cta">
							browse
						</div>
					</a>
				</div>
				<div class="col-xs-6">
					<a href={{url_for('MFW_new')}}>
						<div class='row btn btn-block btn-cta'>
							create
						</div>
					</a>
					<div class='row fine-text text-center'>
						you must have an account to create a M□W.
					</div>
				</div>
			</div>
		</div>
		<div class='col-xs-3'></div>
	</div>

	{% include "flash.html" %}

{% endblock %}
