{% extends "default.html" %}
{% block content %}

	<div class="row banner main">
		<div class="col-xs-1"></div>
		<div class="col-xs-11 padding-none">
			<h2 id='target1'>Edit {{mfwForm.name.data}}</h2>
			{% include "flash.html" %}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-1"></div>
    <div class="col-xs-9 col-sm-7 col-md-6">
			<form method='POST' class='form-horizontal' action={{url_for('mfw_edit', mfw_id=mfwForm.id.data)}}>

				<div class='form-group'>
					<div class='col-xs-12'>
              {{mfwForm.name(placeholder=mfwForm.name.label.text, class_="form-control form-control-large margin-bottom-sm")}}
					</div>
				</div>
				<div class='form-group'>
					<div class='col-xs-12'>
            {{mfwForm.description( placeholder=mfwForm.description.label.text, class_="btn-block from-control form-control-medium margin-bottom-sm")}}
					</div>
				</div>
        <div id='element-group' style="display: block">

           {% for elementForm in elementForms %}
           <div class='form-group'>
              <div class='col-xs-1'></div>
              <div class='element-letter col-xs-3'>{{elementForm.letter.data}}</div>
              <div class='col-xs-8'>
                {{elementForm.description( placeholder=elementForm.description.label.text, class_="elements btn-block form-control form-control-medium")}}
              </div>
            </div>
            {% endfor %}

        </div>
				<div class='form-group'>
					<div class='col-xs-12'>
						<input name="edited_categories" label="edited categories" class="btn-block from-control form-control-medium margin-bottom-sm" placeholder="categories" value="{{category_names}}" type="text">
					</div>
				</div>

				<div class='form-group'>
					<div class='col-xs-12'>
						<input name="edited_image_file" class="margin-bottom-sm" type="file">
					</div>
					<div class='col-xs-12'>
            {{mfwForm.image_url( placeholder=mfwForm.image_url.label.text, class_="btn-block from-control form-control-medium margin-bottom-sm")}}
					</div>
				</div>
				<div class='form-group'>
					<div class='col-xs-12'>
            {{mfwForm.reference_url( placeholder=mfwForm.reference_url.label.text, class_="btn-block from-control form-control-medium margin-bottom-sm")}}
					</div>
				</div>
				<div class='form-group'>
					<div class='col-xs-12'>
						<input type ='submit' id='submit' class='btn btn-block btn-large' value='update'>
					</div>
				</div>
			</form>

			<div class='row margin-top'>
				<div class="col-xs-4">
					<a href="{{ url_for('mfw_view', mfw_id=mfwForm.id.data) }}" >
						<div class="btn btn-block btn-signin">
							Go Back
						</div>
					</a>
				</div>
				<div class="col-xs-8"></div>
			</div>

		</div>
    <div class='col-xs-2'></div>
	</div>

{% endblock %}
