{% extends "default.html" %}
{% block content%}

  <div class="row banner main">
    <div class="col-xs-1"></div>
    <div class="col-xs-11 padding-none">
      <h2>Create a New M□W</h2>
    </div>
  </div>

  {% include "flash.html" %}

  <div class="row padding-top padding-bottom">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 padding-none">
      <form action = {{ url_for("MFW_new") }} method="POST" enctype="multipart/form-data">
        <input name = "new_name" type = "text">
        <input type = "submit" value = "create">
      </form>
    </div>
  </div>

  <div class="row padding-top padding-bottom">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 padding-none">
      <a href={{ url_for('MFW_browse') }} >return to M□W browsing</a>
    </div>
  </div>

{% endblock %}
