{% extends "default.html" %}
{% block content%}

  <script>
    $(document).ready(function() {
      $('#MFW_name').on('change', function(){
        var MFW_name = $('#MFW_name').val();
        console.log("MFW_name.length is: " + MFW_name.length);
        $('#element_group').empty().hide()
        for( var i=0; i<MFW_name.length; i++ ){
          var element_box =
            `<div class='form-group'>
               <div class='element-letter col-xs-3'>${MFW_name[i]}</div>
               <input name='element${i}-letter' type=hidden value=${MFW_name[i]}></input>
               <div class='col-xs-9 elements'>
                 <input name='element${i}-description' value='${MFW_name[i]}'class='btn-block form-control form-control-medium' type='text'>
               </div>
             </div>`;
          $('#element_group').append(element_box)
        }
        $('.elements').hide()
        $('#element_group').show().addClass('animated swivelIn');
        $('.elements').delay(500).fadeIn();
      });
    })
  </script>

  <div class="row banner main">
    <div class="col-xs-1"></div>
    <div class="col-xs-11 padding-none">
      <h2>Create a New M□W</h2>
      {% include "flash.html" %}
    </div>
  </div>

  <div class="row padding-bottom">
    <div class="col-xs-1"></div>
    <div class="col-xs-9 col-sm-7 col-md-5">

      <form class='form-horizontal' role='form' action = {{ url_for("MFW_create") }} method="POST" enctype="multipart/form-data">
        <div class='form-group'>
          <div class='col-xs-12'>
            <input name="new_MFW_name" id="MFW_name" class="form-control form-control-large margin-bottom-sm" type = "text">
          </div>
        </div>
        <div id='element_group'>
          <!-- Dynamic Form Insertion Here -->
        </div>
        <div class='form-group'>
          <div class='col-xs-12'>
            <button type='submit' class='btn btn-block btn-large'>create</button>
          </div>
        </div>
      </form>

    </div>
    <div class='col-xs-2'></div>
  </div>

  <div class="row padding-top padding-bottom">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="btn btn-signin">
        <a href={{ url_for('MFW_browse') }} >return to browsing</a>
      </div>
    </div>
    <div class='col-xs-1'></div>
  </div>

{% endblock %}
