{% extends "default.html" %}
{% block content%}

  <div class="row ">
    <div class="col-xs-1"></div>
		<div class="col-xs-11">
      <h2>Delete your MFW</h2>
    </div>
  </div>

  {% include "flash.html" %}

  <div class="row padding-top padding-bottom">
    <div class="col-xs-1"></div>
    <div class="col-xs-9 col-sm-7 col-md-6">
      <p> Are you sure you want to delete {{mfw.name}}?</p>
      <div class='row'>
        <div class='col-xs-4'>
          <form action = {{url_for('mfw_delete',mfw_id=mfw.id )}} method = 'POST' enctype = 'multipart/form-data'>
              <button type='submit' class='btn btn-block btn-danger'>Delete</button>
          </form>
          <div class='padding-top'>
            <a href={{ url_for('mfw_browse') }}>
              <div class="btn btn-block btn-signin">
                Go Back
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
