{% extends "default.html" %}
{% block content %}


	<div class="row ">
		<div class="col-xs-1"></div>
		<div class="col-xs-9 col-sm-7 col-md-5">
			<div class='row'>
				<div class='col-xs-1'></div>
				<div class='col-xs-10 element-letter'>
					{{MFW.name}}
				</div>
			</div>
			{% include "flash.html" %}

			{% for element in elements %}
				<div class='row'>
					<div class='col-xs-1'></div>
					<div class='element-letter col-xs-3'>{{element.letter}}</div>
					 <div class='col-xs-8 elements'>
						 <h2>{{element.description}}</h2>
					 </div>
			  </div>
			 {% endfor %}

			 <div class='row'>
				 <div class='col-xs-1'></div>
				 <div class='col-xs-11'>
					 <img class='img-responsive' src={{MFW.image_url}}>
				 </div>
			 </div>

			 <div class='row'>
				 <div class='col-xs-4'></div>
				 <div class='col-xs-8'>
					 <a href={{MFW.reference_url}}>
						 <div class='fine-text'>Reference </div>
					 </a>
				 </div>
			 </div>

			<div class='row margin-top'>
				<div class="col-xs-4">
					<a href={{ url_for('MFW_browse') }} >
						<div class="btn btn-block btn-signin">
		        	Go Back
		      	</div>
					</a>
				</div>
				<div class="col-xs-4">
					<a href={{ url_for('MFW_edit',MFW_id=MFW.id) }}>
						<div class="btn btn-block btn-warning">
							Edit
						</div>
					</a>
				</div>
				<div class="col-xs-4">
	        <a href={{ url_for('MFW_delete',MFW_id=MFW.id) }}>
						<div class="btn btn-block btn-danger">
							Delete
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class='col-xs-1'></div>
	</div>

{% endblock %}
