{% extends "default.html" %}
{% block content%}

  <script>
    $(document).ready(function() {

      $('#MFW_name').focus();

      $('#MFW_name').on('change', function(){
        $('#MFW_description').focus();
        var MFW_name = $('#MFW_name').val();
        console.log("MFW_name.length is: " + MFW_name.length);
        $('#element-group').empty().hide()
        for( var i=0; i<MFW_name.length; i++ ){
          var element_box =
            `<div class='form-group'>
               <div class='element-letter col-xs-3'>${MFW_name[i]}</div>
               <input name='element${i}-letter' type=hidden value=${MFW_name[i]}></input>
               <div class='col-xs-9'>
                 <input name='element${i}-description' id='element${i}-description' value='${MFW_name[i]}' class='elements btn-block form-control form-control-medium' type='text'>
               </div>
             </div>`;
          $('#element-group').append(element_box)
        }
        $('.elements').hide();
        $('#element-group').show().addClass('animated swivelIn');
        $('.elements').delay(500).fadeIn().focus();
      });

      $('#new-MFW-form').on('submit', function(event){
        console.log('submit ' + String($('.elements').length));
        if (($('.elements').length) > 2) {
          console.log("'.elements' is more than 2, submitting!");
        } else {
          event.preventDefault();
          $('#element0-description').delay(1000).focus();
          console.log("'.elements' is less than 2. put in more!");
        }
      });

    });
  </script>

  <div class="row banner main">
    <div class="col-xs-1"></div>
    <div class="col-xs-11 padding-none">
      <h2>CRTE NU M□W</h2>
      {% include "flash.html" %}
    </div>
  </div>

  <div class="row padding-bottom">
    <div class="col-xs-1"></div>
    <div class="col-xs-9 col-sm-7 col-md-5">

      <form id='new-MFW-form' class='form-horizontal' role='form' action = {{ url_for("MFW_create") }} method="POST" enctype="multipart/form-data">
        <div class='form-group'>
          <div class='col-xs-12'>
            <input name="MFW_name" id="MFW_name" class="form-control form-control-large margin-bottom-sm" type = "text">
          </div>
        </div>
        <div class='form-group'>
          <div class='col-xs-12'>
            <input name="MFW_description" label='MFW description' id="MFW_description" class="btn-block from-control form-control-medium margin-bottom-sm" placeholder="description" type="text">
          </div>
        </div>
        <div id='element-group'>
          <!-- Dynamic Form Insertion Here -->
        </div>
        <div class='form-group'>
          <div class='col-xs-12'>
            <button type='submit' id='submit' class='btn btn-block btn-large'>create</button>
          </div>
        </div>
      </form>

    </div>
    <div class='col-xs-2'></div>
  </div>

  <div class="row padding-top padding-bottom">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="btn btn-signin">
        <a href={{ url_for('MFW_browse') }} >return to browsing</a>
      </div>
    </div>
    <div class='col-xs-1'></div>
  </div>

{% endblock %}
