{% extends "default.html" %}
{% block content%}

  <script>
    $(document).ready(function() {

      $('#mfw_name').focus();

      $('#mfw_name').on('change', function(){
        $('#mfw_description').focus();
        var mfw_name = $('#mfw_name').val();
        console.log("mfw_name.length is: " + mfw_name.length);
        $('#element-group').empty().hide()
        for( var i=0; i<mfw_name.length; i++ ){
          var element_box =
            `<div class='form-group'>
               <div class='col-xs-1'></div>
               <div class='element-letter col-xs-3'>${mfw_name[i]}</div>
               <input name='element${i}-letter' type=hidden value=${mfw_name[i]}></input>
               <div class='col-xs-8'>
                 <input name='element${i}-description' id='element${i}-description' value='${mfw_name[i]}' class='elements btn-block form-control form-control-medium' type='text'>
               </div>
             </div>`;
          $('#element-group').append(element_box)
        }
        $('.elements').hide();
        $('#element-group').show().addClass('animated swivelIn');
        $('.elements').delay(500).fadeIn().focus();
      });

      $('#new-mfw-form').on('submit', function(event){
        console.log('submit ' + String($('.elements').length));
        if (($('.elements').length) > 2) {
          console.log("'.elements' is more than 2, submitting!");
        } else {
          event.preventDefault();
          $('#mfw_description').focus();
          console.log("'.elements' is less than 2. put in more!");
        }
      });

    });
  </script>

  <div class="row banner main">
    <div class="col-xs-1"></div>
    <div class="col-xs-11 padding-none">
      <h2>CRT NU M□W</h2>
      {% include "flash.html" %}
    </div>
  </div>

  <div class="row padding-bottom">
    <div class="col-xs-1"></div>
    <div class="col-xs-9 col-sm-7 col-md-6">

      <form id='new-mfw-form' class='form-horizontal' role='form' action = {{ url_for("mfw_create") }} method="POST" enctype="multipart/form-data">
        <div class='form-group'>
          <div class='col-xs-12'>
            <input name="mfw_name" id="mfw_name" class="form-control form-control-large margin-bottom-sm" type = "text">
          </div>
        </div>
        <div class='form-group'>
          <div class='col-xs-12'>
            <input name="mfw_description" label='MFW description' id="mfw_description" class="btn-block from-control form-control-medium margin-bottom-sm" placeholder="description" type="text">
          </div>
        </div>
        <div id='element-group'>
          <!-- Dynamic Form Insertion Here -->
        </div>
        <div class='form-group'>
          <div class='col-xs-12'>
            <input name="category" label='category' class="btn-block from-control form-control-medium margin-bottom-sm" placeholder="categories" value="{{category_name}}" type="text">
          </div>
        </div>
        <div class='form-group'>

          <div class='col-xs-12'>
            <input name="image_file" class="margin-bottom-sm" type="file">
          </div>
          <div class='col-xs-12'>
            <input name="image_url" label='Image URL' class="btn-block form-control form-control-medium margin-bottom-sm" placeholder="link image (optional)" type="text">
          </div>
        </div>

        <div class='form-group'>
          <div class='col-xs-12'>
            <input name="reference_url" label='Reference URL' class="btn-block from-control form-control-medium margin-bottom-sm" placeholder="link to related article" type="text">
          </div>
        </div>
        <div class='form-group'>
          <div class='col-xs-12'>
            <button type='submit' id='submit' class='btn btn-block btn-large'>create</button>
          </div>
        </div>
      </form>

    </div>
    <div class='col-xs-2'></div>
  </div>

  <div class="row padding-top padding-bottom">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="btn btn-signin">
        <a href={{ url_for('mfw_browse') }} >Go Back</a>
      </div>
    </div>
    <div class='col-xs-1'></div>
  </div>

{% endblock %}
